<div class="container">
    <div id="newtask">
        <input [(ngModel)]="newTask" type="text" placeholder="Add Tasks">
        <button id="push" (click)="addTask()">Add</button>
    </div>
    <div id="tasks">
        <div class="task" *ngFor="let task of tasks">
            <span id="taskname">
               {{task}}
            </span>
            <button class="delete" (click)="deleteTask(task)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>

    </div>
</div>
